In [1]:
import numpy as np
import pandas as pd
import missingno

In [3]:
df = pd.read_csv('imdb_movies.csv')
df.head()

,ranking of movie,movie name,Year,certificate,runtime,genre,RATING,DETAIL ABOUT MOVIE,DIRECTOR,ACTOR 1,ACTOR 2,ACTOR 3,ACTOR 4,votes,metascore,GROSS COLLECTION
0,1,Jai Bhim,-2021,TV-MA,164 min,"Crime, Drama",9.4,When a tribal man is arrested for a case of al...,T.J. Gnanavel,Suriya,Lijo Mol Jose,Manikandan,Rajisha Vijayan,163431,NaN,NaN
1,2,The Shawshank Redemption,-1994,R,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2515762,80.0,$28.34M
2,3,The Godfather,-1972,R,175 min,"Crime, Drama",9.2,"The Godfather follows Vito Corleone, Don of th...",Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1732749,100.0,$134.97M
3,4,The Dark Knight,-2008,PG-13,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2466041,84.0,$534.86M
4,5,The Godfather: Part II,-1974,R,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1202401,90.0,$57.30M

In [17]:
df['Year']= pd.to_numeric(df['Year'], errors='coerce')
df['Year'] = df['Year'].apply(abs)

In [18]:
df

,ranking of movie,movie name,Year,certificate,runtime,genre,RATING,DETAIL ABOUT MOVIE,DIRECTOR,ACTOR 1,ACTOR 2,ACTOR 3,ACTOR 4,votes,metascore,GROSS COLLECTION
0,1,Jai Bhim,2021.0,TV-MA,164 min,"Crime, Drama",9.4,When a tribal man is arrested for a case of al...,T.J. Gnanavel,Suriya,Lijo Mol Jose,Manikandan,Rajisha Vijayan,163431,NaN,NaN
1,2,The Shawshank Redemption,1994.0,R,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2515762,80.0,$28.34M
2,3,The Godfather,1972.0,R,175 min,"Crime, Drama",9.2,"The Godfather follows Vito Corleone, Don of th...",Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1732749,100.0,$134.97M
3,4,The Dark Knight,2008.0,PG-13,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2466041,84.0,$534.86M
4,5,The Godfather: Part II,1974.0,R,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1202401,90.0,$57.30M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,Mr. Smith Goes to Washington,1939.0,Passed,129 min,"Comedy, Drama",8.1,A naive youth leader is appointed to fill a va...,Frank Capra,James Stewart,Jean Arthur,Claude Rains,Edward Arnold,112642,73.0,$9.60M
246,247,Gone with the Wind,1939.0,Passed,238 min,"Drama, History, Romance",8.1,The manipulative daughter of a Georgia plantat...,Victor Fleming,George Cukor,Sam Wood,Clark Gable,Vivien Leigh,304725,97.0,$198.68M
247,248,It Happened One Night,1934.0,Passed,105 min,"Comedy, Romance",8.1,A renegade reporter trailing a young runaway h...,Frank Capra,Clark Gable,Claudette Colbert,Walter Connolly,Roscoe Karns,100198,87.0,$4.36M
248,249,The Passion of Joan of Arc,1928.0,Passed,114 min,"Biography, Drama, History",8.1,"In 1431, Jeanne d'Arc is placed on trial on ch...",Carl Theodor Dreyer,Maria Falconetti,Eugene Silvain,André Berley,Maurice Schutz,52264,NaN,$0.02M
249,250,The General,1926.0,Passed,67 min,"Action, Adventure, Comedy",8.1,After being rejected by the Confederate milita...,Clyde Bruckman,Buster Keaton,Buster Keaton,Marion Mack,Glen Cavender,88022,NaN,$1.03M

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ranking of movie    250 non-null    int64
 1   movie name          250 non-null    object
 2   Year                244 non-null    float64
 3   certificate         250 non-null    object
 4   runtime             250 non-null    object
 5   genre               250 non-null    object
 6   RATING              250 non-null    float64
 7   DETAIL ABOUT MOVIE  250 non-null    object
 8   DIRECTOR            250 non-null    object
 9   ACTOR 1             250 non-null    object
 10  ACTOR 2             250 non-null    object
 11  ACTOR 3             250 non-null    object
 12  ACTOR 4             250 non-null    object
 13  votes               250 non-null    int64
 14  metascore           218 non-null    float64
 15  GROSS COLLECTION    214 non-null    object
dtypes: float64(3), int64(2), object(11)
memory usage: 31.4+ KB

In [23]:
## Drop Unneccessaryy cols
## ['ranking of movie', 'certificate', 'DETAIL ABOUT MOVIE','ACTOR 3', 'ACTOR 4']

df_new = df.drop(columns=['ranking of movie', 'certificate', 'DETAIL ABOUT MOVIE','ACTOR 3', 'ACTOR 4'], axis=1)

In [24]:
df_new

,movie name,Year,runtime,genre,RATING,DIRECTOR,ACTOR 1,ACTOR 2,votes,metascore,GROSS COLLECTION
0,Jai Bhim,2021.0,164 min,"Crime, Drama",9.4,T.J. Gnanavel,Suriya,Lijo Mol Jose,163431,NaN,NaN
1,The Shawshank Redemption,1994.0,142 min,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,2515762,80.0,$28.34M
2,The Godfather,1972.0,175 min,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,1732749,100.0,$134.97M
3,The Dark Knight,2008.0,152 min,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,Heath Ledger,2466041,84.0,$534.86M
4,The Godfather: Part II,1974.0,202 min,"Crime, Drama",9.0,Francis Ford Coppola,Al Pacino,Robert De Niro,1202401,90.0,$57.30M
...,...,...,...,...,...,...,...,...,...,...,...
245,Mr. Smith Goes to Washington,1939.0,129 min,"Comedy, Drama",8.1,Frank Capra,James Stewart,Jean Arthur,112642,73.0,$9.60M
246,Gone with the Wind,1939.0,238 min,"Drama, History, Romance",8.1,Victor Fleming,George Cukor,Sam Wood,304725,97.0,$198.68M
247,It Happened One Night,1934.0,105 min,"Comedy, Romance",8.1,Frank Capra,Clark Gable,Claudette Colbert,100198,87.0,$4.36M
248,The Passion of Joan of Arc,1928.0,114 min,"Biography, Drama, History",8.1,Carl Theodor Dreyer,Maria Falconetti,Eugene Silvain,52264,NaN,$0.02M
249,The General,1926.0,67 min,"Action, Adventure, Comedy",8.1,Clyde Bruckman,Buster Keaton,Buster Keaton,88022,NaN,$1.03M

In [33]:
df_new.columns

Index(['movie name ', 'Year', 'runtime', 'genre', 'RATING', 'DIRECTOR ',
       'ACTOR 1', 'ACTOR 2', 'votes', 'metascore', 'GROSS COLLECTION'],
      dtype='object')

In [34]:
df_new.columns = df_new.columns.str.lower().str.strip()

In [39]:
df_new.columns = df_new.columns.str.replace(' ', '_')

In [40]:
df_new

,movie_name,year,runtime,genre,rating,director,actor_1,actor_2,votes,metascore,gross_collection
0,Jai Bhim,2021.0,164 min,"Crime, Drama",9.4,T.J. Gnanavel,Suriya,Lijo Mol Jose,163431,NaN,NaN
1,The Shawshank Redemption,1994.0,142 min,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,2515762,80.0,$28.34M
2,The Godfather,1972.0,175 min,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,1732749,100.0,$134.97M
3,The Dark Knight,2008.0,152 min,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,Heath Ledger,2466041,84.0,$534.86M
4,The Godfather: Part II,1974.0,202 min,"Crime, Drama",9.0,Francis Ford Coppola,Al Pacino,Robert De Niro,1202401,90.0,$57.30M
...,...,...,...,...,...,...,...,...,...,...,...
245,Mr. Smith Goes to Washington,1939.0,129 min,"Comedy, Drama",8.1,Frank Capra,James Stewart,Jean Arthur,112642,73.0,$9.60M
246,Gone with the Wind,1939.0,238 min,"Drama, History, Romance",8.1,Victor Fleming,George Cukor,Sam Wood,304725,97.0,$198.68M
247,It Happened One Night,1934.0,105 min,"Comedy, Romance",8.1,Frank Capra,Clark Gable,Claudette Colbert,100198,87.0,$4.36M
248,The Passion of Joan of Arc,1928.0,114 min,"Biography, Drama, History",8.1,Carl Theodor Dreyer,Maria Falconetti,Eugene Silvain,52264,NaN,$0.02M
249,The General,1926.0,67 min,"Action, Adventure, Comedy",8.1,Clyde Bruckman,Buster Keaton,Buster Keaton,88022,NaN,$1.03M

In [41]:
## what is max & min ratings
df = df_new.copy(deep=True)

In [44]:
max_rate = df['rating'].max()

In [45]:
df[df['rating']==max_rate]

,movie_name,year,runtime,genre,rating,director,actor_1,actor_2,votes,metascore,gross_collection
0,Jai Bhim,2021.0,164 min,"Crime, Drama",9.4,T.J. Gnanavel,Suriya,Lijo Mol Jose,163431,NaN,NaN

In [49]:
## movies with rating > 9

df[df['rating'] > 9][['movie_name', 'rating']]

                 movie_name  rating
0                  Jai Bhim     9.4
1  The Shawshank Redemption     9.3
2             The Godfather     9.2

In [51]:
## top 10 movies per metascore and user rarting

In [62]:
df.sort_values(by=['metascore', 'rating'], ascending=False)['movie_name'].head(10)

2            The Godfather
49             Rear Window
50              Casablanca
109     Lawrence of Arabia
112                Vertigo
117           Citizen Kane
224    Fanny and Alexander
52             City Lights
113    Singin' in the Rain
31           Seven Samurai
Name: movie_name, dtype: object

In [63]:
df.sort_values(by='metascore', ascending=False)['movie_name'].head(10)

112                Vertigo
109     Lawrence of Arabia
117           Citizen Kane
50              Casablanca
49             Rear Window
2            The Godfather
224    Fanny and Alexander
113    Singin' in the Rain
52             City Lights
31           Seven Samurai
Name: movie_name, dtype: object

In [64]:
df.sort_values(by='rating', ascending=False)['movie_name'].head(10)

0                                              Jai Bhim
1                              The Shawshank Redemption
2                                         The Godfather
3                                       The Dark Knight
4                                The Godfather: Part II
5                                          12 Angry Men
6         The Lord of the Rings: The Return of the King
7                                          Pulp Fiction
8                                      Schindler's List
12    The Lord of the Rings: The Fellowship of the Ring
Name: movie_name, dtype: object

In [67]:
## top 10 genre
df['genre'].value_counts()[:10]

Drama                           22
Crime, Drama                    14
Biography, Drama, History        9
Drama, War                       8
Crime, Drama, Mystery            8
Animation, Adventure, Comedy     8
Action, Crime, Drama             7
Drama, Romance                   7
Action, Adventure, Drama         6
Action, Adventure, Sci-Fi        5
Name: genre, dtype: int64

In [70]:
## mean of top 10 directorries rating
df[df['director']=='Christopher Nolan']['rating'].mean()

8.557142857142855

In [74]:
df.groupby('director')['rating'].mean().sort_values(ascending=False).head(10)

director
T.J. Gnanavel           9.400000
Frank Darabont          8.950000
Francis Ford Coppola    8.866667
Jon Watts               8.800000
Peter Jackson           8.800000
Lana Wachowski          8.700000
Irvin Kershner          8.700000
Robert Zemeckis         8.650000
Jonathan Demme          8.600000
Fernando Meirelles      8.600000
Name: rating, dtype: float64

In [77]:
## mean of top 10 (actor_1) rating
df[df['actor_1']=='Clark Gable']['rating'].mean()

8.1

In [81]:
df.groupby('actor_1')['rating'].mean().sort_values(ascending=False).head(10)

actor_1
Suriya             9.40
Tim Robbins        9.30
Liam Neeson        8.90
John Travolta      8.90
Tom Holland        8.80
Elijah Wood        8.80
Henry Fonda        8.75
Lilly Wachowski    8.70
Marlon Brando      8.65
Daveigh Chase      8.60
Name: rating, dtype: float64

In [82]:
## meam  of top 10 (actor_2) rating
df.groupby('actor_2')['rating'].mean().sort_values(ascending=False).head(10)

actor_2
Lijo Mol Jose           9.4
Morgan Freeman          9.3
Al Pacino               9.2
Heath Ledger            9.0
Lee J. Cobb             9.0
Viggo Mortensen         8.9
Ralph Fiennes           8.9
Uma Thurman             8.9
Zendaya                 8.8
Joseph Gordon-Levitt    8.8
Name: rating, dtype: float64